.root {
  -fx-background-image: url("allChatLauncher.jpg");
}

.button {
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
  -fx-background-color: rgb(154, 150, 158);
  -fx-text-fill: white;
  -fx-font-family: "UniSpace";
}

.textField {
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;

  -fx-background-color: rgb(77, 75, 79);
  -fx-text-fill: rgb(173, 172, 173);
  -fx-font-family: "UniSpace";
}

.passwordField {
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;

  -fx-background-color: rgb(77, 75, 79);
  -fx-text-fill: rgb(173, 172, 173);
  -fx-font-family: "UniSpace";
}

.label {
  -fx-text-fill: grey;
  -fx-font-family: "UniSpace";
}
